@charset "utf-8";
/* CSS Document   CSS重置样式 */
body{ margin:0px;padding:0;font-size:14px; font-family:"Microsoft YaHei"; color:#262626;}
*{ margin:0px; padding:0px;}
img{ border:0px;}
ul,li{ list-style:none; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0; font-size:14px; font-weight:normal;}
a{ color:#333333; text-decoration:none;}
a:hover{ color:#333333; text-decoration:underline;}
.clearfix{*zoom:1;}
.clearfix:before{ content:""; height:0; line-height:0; display:table;}
.clearfix:after{ content:""; height:0; line-height:0; display:table; clear:both;}
input{ font-family:"Microsoft YaHei";}


