.fileinput-button {
	position: relative;
	overflow: hidden;
	float: left;
	margin-right: 4px;
	background-color: aqua;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}

.mybtn {
	display: block;
	position: relative;
	background: #aaa;
	padding: 5px;
	float: left;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.mybtn * {
	font-style: normal;
	background-repeat: no-repeat;
	display: block;
	position: relative;
}

.mybtn i {
	background-position: top left;
	position: absolute;
	margin-bottom: -5px;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
}

.mybtn span {
	background-position: bottom left;
	left: -5px;
	padding: 0 0 5px 10px;
	margin-bottom: -5px;
}

.mybtn span i {
	background-position: bottom right;
	margin-bottom: 0;
	position: absolute;
	left: 100%;
	width: 10px;
	height: 100%;
	top: 0;
}

.mybtn span span {
	background-position: top right;
	position: absolute;
	right: -10px;
	margin-left: 10px;
	top: -5px;
	height: 0;
}

* html .mybtn span,* html .mybtn i {
	float: left;
	width: auto;
	background-image: none;
	cursor: pointer;
}

.mybtn.blue {
	background: #2ae;
}

.mybtn.green {
	background: #9d4;
}

.mybtn.pink {
	background: #e1a;
}

.mybtn:hover {
	background-color: #a00;
}

.mybtn:active {
	background-color: #444;
}

.mybtn[class] {
	background-position: bottom;
}

* html .mybtn {
	border: 3px double #aaa;
}

* html .mybtn.blue {
	border-color: #2ae;
}

* html .mybtn.green {
	border-color: #9d4;
}

* html .mybtn.pink {
	border-color: #e1a;
}

* html .mybtn:hover {
	border-color: #a00;
}



.mybtn {
	display: block;
	position: relative;
	background: #aaa;
	padding: 5px;
	float: left;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}



.mybtn.green {
	background: #9d4;
}


.mybtn1 {display: block;
	position: relative;
	background: #aaa;
	padding: 5px;
	float: left;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.mybtn1 {background-image: url(shade.png);
	background-position: bottom;
}

.fm-item {
    padding: 0 5px 8px 90px;
}
input.i-text {
    padding: 4px 2px 5px;
    width: 150px;
}

.mybtn1 {	display: block;
	position: relative;
	background: #aaa;
	padding: 5px;
	float: left;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.mybtn1 {	background-image: url(shade.png);
	background-position: bottom;
}