.accordion {
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
}
.accordion .accordion-header {
  border-width: 0 0 1px;
  cursor: pointer;
}
.accordion .accordion-body {
  border-width: 0 0 1px;
}
.accordion-noborder {
  border-width: 0;
}
.accordion-noborder .accordion-header {
  border-width: 0 0 1px;
}
.accordion-noborder .accordion-body {
  border-width: 0 0 1px;
}
.accordion-collapse {
  background: url('images/accordion_arrows.png') no-repeat 0 0;
}
.accordion-expand {
  background: url('images/accordion_arrows.png') no-repeat -16px 0;
}
.accordion {
  background: #ffffff;
  border-color: #95B8E7;
}
.accordion .accordion-header {
  background: #E0ECFF;
  filter: none;
}
.accordion .accordion-header-selected {
  background: #FBEC88;
}
.accordion .accordion-header-selected .panel-title {
  color: #000000;
}

<!--新增 -->
.accordion {
  overflow: hidden;
  background: #ffffff;
  border:none;
}
.accordion .accordion-header {
  border:none;
  cursor: pointer;
  height:30px;
  line-height:30px;
  background: url('images/a1.png') repeat-x;
}

.accordion .accordion-header-selected {
  height:30px;
  line-height:30px;
  background: url('images/a1.png') repeat-x;
}
.accordion .accordion-header-selected .panel-title {
  color: #000000;
}
.accordion {
  overflow: hidden;
  border:none;
}
.accordion .accordion-header {
  cursor: pointer;
}
.accordion .accordion-body {
  border-bottom:none;
}

